/*&:after {
  content: "";
  display: table;
  clear: both;}*/
body {
  font-family: "HelveticaNeue", sans-serif;
  scroll-behavior: smooth;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  min-width: 320px;
  position: relative;
  background: #fff;
  max-width: 3000px;
  margin: auto;
  color: #212b32; }

header, section, footer {
  margin: auto; }

a {
  text-decoration: none; }
  a:focus {
    outline: none !important; }

a:hover, a:focus, a:active {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, button {
  -webkit-transition: all .4s ease;
  transition: all .4s ease; }

figure {
  margin: 0; }
  figure img {
    width: auto;
    max-width: 100%;
    vertical-align: top; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

p, a {
  color: #212b32;
  margin: 0; }

input {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important; }

.content-width {
  width: 1200px;
  margin: auto; }

h1 {
  font-family: "Vidaloka", serif;
  margin: 0 0 30px; }

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0;
  text-align: center;
  font-family: "Vidaloka", serif;
  margin: 0 0 30px; }

h3 {
  font-family: "Vidaloka", serif;
  margin: 0 0 30px; }

h4 {
  font-family: "Vidaloka", serif;
  margin: 0 0 30px; }

h5 {
  font-family: "Vidaloka", serif;
  margin: 0 0 10px; }

h6 {
  font-family: "Vidaloka", serif;
  margin: 0 0 10px; }

input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none; }

input, textarea, button {
  outline: none !important; }

.wpcf7 form .wpcf7-response-output {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1.2;
  background: #00a0d2; }

.wpcf7 form.sent .wpcf7-response-output {
  background: #46b450;
  display: none; }

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  background: #ffb900; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .bg .img-mob {
    display: none; }

.bg + * {
  position: relative;
  z-index: 2; }

figure .img {
  display: block; }
figure .img-mob {
  display: none; }

/*---------------------------------HEADER----------------------------------*/
header {
  position: relative;
  z-index: 99;
  max-height: 0; }

.top-menu {
  padding-top: 35px;
  width: 100%; }
  .top-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 40px; }
    .top-menu ul a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #fff; }
      .top-menu ul a:hover {
        opacity: 0.7; }

.open-menu {
  display: none; }

/*--------------------------------END-HEADER----------------------------------*/
/*-------------------------------HOME-BANNER----------------------------------*/
.home-banner {
  position: relative;
  padding: 178px 0 100px;
  min-height: 100vh; }
  .home-banner .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .home-banner .bg:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #0a141b;
    opacity: 0.72; }
  .home-banner .logo-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 33px; }
  .home-banner .content {
    margin: auto;
    width: 690px;
    max-width: 100%; }
  .home-banner h1 {
    font-size: 65px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin-bottom: 30px; }
  .home-banner p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff; }
  .home-banner .btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px; }

.btn-default {
  display: inline-block;
  text-align: center;
  background: teal;
  height: 58px;
  line-height: 58px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 0 40px;
  color: #fff; }
  .btn-default:hover {
    background: #015a5a; }

/*------------------------------END-HOME-BANNER----------------------------------*/
/*------------------------------ITEM-3X----------------------------------*/
.item-3x {
  padding: 80px 0 80px; }
  .item-3x h2 {
    margin-bottom: 40px; }
  .item-3x .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 20px 28px; }
  .item-3x .item {
    width: calc(33.33% - 19px);
    border: 1px solid teal;
    background: white;
    position: relative;
    padding: 30px 30px 23px; }
    .item-3x .item .icon-wrap {
      position: absolute;
      z-index: 2;
      top: -10px;
      right: -10px;
      width: 38px;
      height: 38px; }
      .item-3x .item .icon-wrap img {
        width: 100%; }
    .item-3x .item h6 {
      font-family: "HelveticaNeue", sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 10px; }

/*-----------------------------END-ITEM-3X----------------------------------*/
/*----------------------------PROJECTS----------------------------------*/
.projects {
  padding: 60px 0 100px;
  background: whitesmoke; }
  .projects h2 {
    margin-bottom: 30px; }
  .projects .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 40px 40px; }
  .projects .item {
    width: calc(50% - 20px);
    background: white;
    padding: 30px 30px 50px; }
    .projects .item .slider-wrap {
      margin-bottom: 20px; }
    .projects .item h6 {
      margin-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .projects .item h6 a {
        display: inline-block;
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0;
        color: #fff;
        padding: 10px;
        background: #36454f;
        font-family: "HelveticaNeue", sans-serif; }
        .projects .item h6 a:hover {
          opacity: 0.7; }
    .projects .item p {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px; }

.slider-img figure {
  height: 320px;
  overflow: hidden;
  width: 100%; }
  .slider-img figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .slider-img figure a:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
.slider-img .btn {
  background: rgba(255, 255, 255, 0.7);
  width: 30px;
  height: 30px; }
  .slider-img .btn:after {
    font-size: 16px;
    font-weight: 700;
    color: #000; }

/*---------------------------END-PROJECTS----------------------------------*/
/*---------------------------ITEM-3X-NO-BORDER----------------------------------*/
.item-3x-no-border {
  padding: 80px 0 60px; }
  .item-3x-no-border h2 {
    margin-bottom: 40px; }
  .item-3x-no-border .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 38px; }
  .item-3x-no-border .item {
    width: calc(33.33% - 26px); }
    .item-3x-no-border .item figure {
      margin-bottom: 15px; }
    .item-3x-no-border .item h6 {
      font-family: "HelveticaNeue", sans-serif;
      margin-bottom: 18px;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px; }

/*--------------------------END-ITEM-3X-NO-BORDER----------------------------------*/
/*--------------------------CABINETRY----------------------------------*/
.cabinetry {
  padding: 122px 0 0;
  position: relative;
  margin: 0 0 -103px; }
  .cabinetry .slider-wrap {
    display: none; }
  .cabinetry .bg .bg-item {
    display: inline-block;
    height: 300px;
    background: #f7f7f5;
    position: absolute; }
  .cabinetry .bg .bg-item-1 {
    top: 60px;
    left: 0;
    width: 41%; }
  .cabinetry .bg .bg-item-2 {
    bottom: 300px;
    right: 0;
    width: 47%;
    height: 385px; }
  .cabinetry .title {
    margin-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .cabinetry .title .text {
      width: 588px;
      padding-right: 15px; }
    .cabinetry .title h6 {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      font-family: "HelveticaNeue", sans-serif;
      margin-bottom: 40px; }
    .cabinetry .title p {
      padding-right: 15px; }
  .cabinetry h2 {
    width: 340px;
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-align: left; }
  .cabinetry .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .cabinetry .left, .cabinetry .right {
    width: calc(50% - 45px); }
  .cabinetry .item .img-wrap {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    overflow: hidden; }
    .cabinetry .item .img-wrap img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      vertical-align: top; }
  .cabinetry .item p {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0;
    text-align: center; }
  .cabinetry .item a:hover img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }
  .cabinetry .right {
    width: calc(50% - 13px); }
  .cabinetry .left {
    position: relative;
    top: -112px; }
    .cabinetry .left .item {
      margin-bottom: 50px; }

.cabinetry-2 {
  margin-bottom: -165px; }
  .cabinetry-2 .left {
    top: -175px; }

.cabinetry-3 {
  margin-bottom: 0; }

.cabinetry-3 .bg .bg-item-2 {
  bottom: 0; }

.cabinetry-3 .bg {
  bottom: -35px; }

/*------------------------END-CABINETRY----------------------------------*/
/*------------------------TEXT-IMG----------------------------------*/
.text-img {
  position: relative;
  margin-top: 200px;
  padding: 60px 0 25px; }
  .text-img .bg .bg-item-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 46%;
    background: #f7f7f5; }
  .text-img .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .text-img .text {
    width: 37%; }
  .text-img h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px; }
  .text-img h6 {
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 28px; }
  .text-img .img-wrap {
    width: 49%;
    margin-top: -25px; }
    .text-img .img-wrap figure {
      width: 100%; }
      .text-img .img-wrap figure img {
        width: 100%;
        height: auto; }
    .text-img .img-wrap figcaption {
      margin-top: 12px;
      font-size: 26px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0;
      text-align: center; }

.mb-0 {
  margin-bottom: 0; }

/*-----------------------END-TEXT-IMG----------------------------------*/
/*-----------------------VIDEO-BLOCK--------------------------------*/
.video-block {
  padding: 50px 0 80px;
  position: relative; }
  .video-block .bg .bg-item-1 {
    position: absolute;
    height: 550px;
    right: 0;
    bottom: 0;
    width: 46%;
    background: #f7f7f5; }
  .video-block iframe {
    width: 100%;
    height: 675px;
    border-radius: 4px; }
  .video-block p {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 15px; }

/*----------------------END-VIDEO-BLOCK--------------------------------*/
/*----------------------------INFO-BLOCK-------------------------*/
.info-block {
  position: relative;
  padding: 145px 0 80px; }
  .info-block .bg-item {
    display: inline-block;
    height: 350px;
    background: #f7f7f5;
    position: absolute; }
  .info-block .slider-wrap {
    display: none; }
  .info-block .bg-item-1 {
    top: 115px;
    left: 0;
    width: 41%; }
  .info-block .bg-item-2 {
    bottom: 0;
    right: 0;
    width: 47%;
    height: 300px; }
  .info-block .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px; }
    .info-block .title .text {
      width: 588px;
      padding-right: 15px; }
      .info-block .title .text p {
        padding-right: 15px; }
    .info-block .title h6 {
      font-size: 20px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 40px;
      font-family: "HelveticaNeue", sans-serif; }
  .info-block h2 {
    width: 410px;
    margin: 45px 0 0;
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px; }
  .info-block .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .info-block .item {
    width: 49%; }
    .info-block .item figure img {
      width: 100%;
      height: 310px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; }
    .info-block .item figcaption {
      font-size: 26px;
      font-weight: 700;
      line-height: 38px;
      letter-spacing: 0;
      text-align: center;
      margin-top: 15px; }
  .info-block .item:first-child {
    width: 46%; }

/*---------------------------END-INFO-BLOCK-------------------------*/
/*---------------------------STORY-------------------------*/
.label {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "HelveticaNeue", sans-serif; }

.story .item figure img {
  width: 100%; }

.story {
  padding: 105px 0 110px; }
  .story p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; }
  .story .content {
    margin-top: 50px; }
  .story .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px; }
    .story .item figure {
      width: 535px;
      position: relative;
      z-index: 5; }
    .story .item .text {
      width: 55%;
      position: relative;
      padding: 50px 57px 50px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      margin-bottom: 75px; }
      .story .item .text:after {
        position: absolute;
        top: 0;
        right: -48px;
        bottom: -7px;
        content: '';
        left: -300px;
        border: 1px solid teal; }
      .story .item .text h3 {
        font-size: 30px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0;
        text-align: left;
        margin-bottom: 20px; }
  .story .item:last-child {
    margin-bottom: 0; }
  .story .item-revers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .story .item-revers figure {
      width: 605px; }
    .story .item-revers .text {
      width: calc(100% - 635px);
      padding: 50px 57px 50px 0;
      margin: 0; }
      .story .item-revers .text:after {
        top: 8px;
        right: -300px;
        bottom: 6px;
        left: -59px; }

/*--------------------------END-STORY-------------------------*/
/*-------------------------FORM-BLOCK-------------------------*/
.form-block {
  position: relative;
  padding: 60px 0 98px; }
  .form-block .bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .form-block .content {
    background: #f8f8f8;
    padding: 63px 70px; }
  .form-block h2 {
    margin-bottom: 7px;
    font-family: "HelveticaNeue", sans-serif;
    text-align: left; }

.default-form {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .default-form .item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
    width: 100%; }
    .default-form .item-1 .input-wrap {
      width: calc(33.33% - 13px); }
  .default-form .input-wrap label {
    display: block;
    color: #3b444a;
    margin-bottom: 3px; }
  .default-form .input-wrap input {
    width: 100%;
    border: 1px solid #c2c2c2;
    background: white;
    height: 46px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 14px;
    outline: none !important; }
  .default-form p {
    margin-bottom: 12px; }
  .default-form .item-2 {
    width: 450px; }
  .default-form .item-3 {
    width: 450px; }
  .default-form .input-wrap-check {
    position: relative;
    margin-bottom: 12px; }
    .default-form .input-wrap-check input[type=checkbox] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50px;
      opacity: 0;
      z-index: 4;
      cursor: pointer; }
    .default-form .input-wrap-check input[type=text] {
      display: inline-block;
      width: calc(100% - 80px);
      border: none;
      height: 20px;
      border-bottom: 1px solid #3b444a;
      margin-left: 10px;
      background: transparent;
      line-height: 18px;
      position: relative;
      top: -2px;
      max-width: 230px; }
    .default-form .input-wrap-check label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #3b444a;
      cursor: pointer; }
      .default-form .input-wrap-check label:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        width: 20px;
        height: 20px;
        background: #fff;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
    .default-form .input-wrap-check .hide {
      display: none; }
    .default-form .input-wrap-check input:checked + label:before {
      background: teal;
      border-color: teal; }
    .default-form .input-wrap-check input:checked + label:after {
      top: 0;
      left: 3px;
      position: absolute;
      font-family: "Font Awesome 6 Pro";
      color: #fff;
      font-size: 16px;
      content: '\f00c'; }
  .default-form .input-wrap-radio {
    position: relative;
    margin-bottom: 12px; }
    .default-form .input-wrap-radio input[type=radio] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50px;
      opacity: 0;
      z-index: 4;
      cursor: pointer; }
    .default-form .input-wrap-radio input[type=text] {
      display: inline-block;
      width: calc(100% - 80px);
      border: none;
      height: 20px;
      border-bottom: 1px solid #3b444a;
      margin-left: 10px;
      background: transparent;
      line-height: 18px;
      position: relative;
      top: -2px;
      max-width: 230px; }
    .default-form .input-wrap-radio label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #3b444a;
      cursor: pointer; }
      .default-form .input-wrap-radio label:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        border: 1px solid #c2c2c2;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        background: #fff;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
    .default-form .input-wrap-radio .hide {
      display: none; }
    .default-form .input-wrap-radio input:checked + label:before {
      border-color: teal; }
    .default-form .input-wrap-radio input:checked + label:after {
      top: 5px;
      left: 5px;
      position: absolute;
      width: 10px;
      height: 10px;
      background: teal;
      border-radius: 100%;
      content: ''; }
  .default-form .input-wrap-full {
    width: 100%;
    margin-top: 23px; }
    .default-form .input-wrap-full label {
      display: block;
      color: #3b444a;
      margin-bottom: 3px; }
    .default-form .input-wrap-full textarea {
      width: 100%;
      resize: none;
      border: 1px solid #c2c2c2;
      background: white;
      height: 120px;
      outline: none !important;
      padding: 15px;
      font-size: 14px;
      line-height: 20px; }
  .default-form .btn-wrap {
    margin-top: 32px; }
    .default-form .btn-wrap button {
      border: none;
      cursor: pointer;
      padding: 0 50px; }

/*------------------------END-FORM-BLOCK-------------------------*/
/*------------------------FOOTER-------------------------*/
footer {
  background: #0a141b;
  padding: 50px 0 70px; }
  footer .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  footer .logo-wrap {
    width: 220px; }
    footer .logo-wrap img {
      vertical-align: top;
      width: 100%; }
  footer .footer-menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 308px); }
  footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 200px);
    grid-gap: 41px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .footer-menu a {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      display: inline-block;
      color: #fff; }
      footer .footer-menu a:hover {
        opacity: 0.7; }
  footer .soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: 14px 23px;
    width: 185px; }
    footer .soc li:first-child {
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      color: #fff; }
    footer .soc li a {
      font-size: 18px;
      line-height: 1;
      color: #fff; }
      footer .soc li a:hover {
        opacity: 0.7; }

/*-----------------------END-FOOTER-------------------------*/

/*# sourceMappingURL=styles.css.map */